.favorites__button {
   position: absolute;
   box-shadow: none;
   transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
   z-index: 10;
   left: 0.4rem;
   top: 0.4rem;
   border-radius: 999999px;
   background-color: transparent;
}

.favorites__button:hover,
.favorites__button:focus-visible {
   transform: scale(1.5) rotate(-6deg);
   z-index: 2;
   box-shadow: none;
}
