.input {
   border-radius: 1rem;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   border: none;
   padding: 0;
   background-color: transparent;
   outline: none;
   font-family: inherit;
   font-size: inherit;
   font-weight: inherit;
   color: inherit;
   box-sizing: border-box;
   cursor: auto;
   height: 2rem;
   background-color: white;
}
