.input {
   border-radius: 1rem;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   border: none;
   outline: none;
   font-family: inherit;
   font-weight: inherit;
   color: inherit;
   box-sizing: border-box;
   cursor: auto;
   font-size: 12px;
   height: 2rem;
   background-color: white;
   width: 100%;
   padding: 0 0.8rem 0 2.25rem;
   background-image: url('../../assets/SearchIcon.svg');
   background-repeat: no-repeat;
   background-size: 1rem;
   background-position: left 0.75rem center;
   line-height: 12px;
   box-shadow: 0px 1px 3px 1px #00000040 inset;
}

.input::placeholder {
   color: #666666;
   opacity: 1;
   font-weight: 400;

   font-style: normal;
}
