.radio-input {
   display: flex;
   gap: 0.8rem;
   font-size: 1rem;
   line-height: 1.6rem;
}

.radio-input input[type='radio'] {
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   width: 14px;
   height: 14px;
   border: 2px solid var(--color-main);

   border-radius: 50%;
   outline: none;
   cursor: pointer;
   position: relative;
   transition: all 0.2s ease;
}

.radio-input input[type='radio']:checked {
   background-color: white;
   border-color: var(--color-main);
}

.radio-input input[type='radio']:checked::after {
   content: '';
   position: absolute;
   top: 2px;
   left: 2px;
   width: 6px;
   height: 6px;
   border-radius: 50%;
   background: #e3350d;
}
