.abilities {
   display: flex;
   flex-direction: column;
   gap: 0.4rem;
   justify-content: center;
   align-items: center;
   width: 33%;
}

.abilities__moves {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-transform: capitalize;
}
