.about-item {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 0.4rem;
}

.about-item__container {
   display: flex;
   padding: 0.8rem 0;
   gap: 0.8rem;
}

.about-item__value {
   line-height: 1.6rem;
}

.about-item__label {
   color: var(--gray-medium);
}
