.stats {
   display: flex;
   gap: 0.8rem;
}

.stats__label {
   font-weight: 700;
   line-height: 1.6rem;
   text-align: right;
   color: var(--gray-wireframe);
   width: 3.2rem;
}

.stats__value {
   width: 2.7rem;
   text-align: right;
}

.stats__progress {
   display: flex;
   align-items: center;
   height: 1.6rem;
   width: 100%;
}
