logs
.log
npm-debug.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
.pnpm-store/
.npm/
.yarn/

/dist
/build

.env.local
.env.*.local
.env

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

*.DS_Store
*.swp
.env