/* Color Schema */
:root {
   --color-main: #dc0a2d;
   --color-grass: #74cb48;
   --color-fire: #f57d31;
   --color-water: #6493eb;
   --color-bug: #a7b723;
   --color-electric: #f9cf30;
   --color-ghost: #70559b;
   --color-normal: #aaa67f;
   --color-psychic: #fb5584;
   --color-steel: #b7b9d0;
   --color-fire: #f57d31;
   --color-water: #6493eb;
   --color-water: #74cb48;
   --color-electric: #f9cf30;
   --color-psychic: #fb5584;
   --color-ice: #9ad6df;
   --color-dragon: #7037ff;
   --color-dark: #75574c;
   --color-fairy: #e69eac;

   --gray-medium: #666666;
   --gray-background: #f2f2f2;
   --gray-wireframe: #b8b8b8;
}
