body::after {
   content: '';
   position: absolute;
   right: 0.4rem;
   top: 0.4rem;
   width: 33dvh;
   height: 33dvh;
   background: url('/src//assets/Logo.svg') no-repeat center/contain;
   background-repeat: no-repeat;
   background-size: contain;
   opacity: 0.1;
   pointer-events: none;
}
