@import url('./base/_reset.css');
@import url('./utilities/_colors.css');

:root {
   --border-radius: 1.6rem;
   --border-radius-secondary: 0.8rem;
   --box-shadow: 0px 1px 3px 1px #00000040 inset;
}

body {
   font-size: 10px;
}

#root {
   display: flex;
   flex-direction: column;
   padding: 0.4rem;
   min-height: 100dvh;
   max-height: 100dvh;
}
